# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Secrets
firebase-credentials.json
.env
GEMINI_API_KEY.txt

# Virtualenv
.venv/

# Firebase
.firebase/
botti-23428-firebase-adminsdk-fbsvc-d404b9f76d.json
.firebaserc